/*/Import do arquivos auxiliares de css/*/
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

/*/
Declaração de variaveis.
/*/
:root {
    /*/Coloca a cor na variavel./*/
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: #002F52;
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
}

/*/Definindo o estilo do body/*/
body {
    /*/Altera a cor do fundo do backgroudn/*/
    background-color: var(--cor-de-fundo);
    /*/Altera a cor da fonte/*/
    font-family: var(--fonte-principal);
    /*/Altera o tamanho da fonte/*/
    font-size: 16px;
    /*/Altera o peso da fonte/*/
    font-weight: 400;
}