.banner {
    /*/cor do fundo./*/
    background: var(--azul-degrade);
    /*/cor da fonte./*/
    color: var(--branco);
    /*/centraliza o texto./*/
    text-align: center;
    /*/Espessura de espaçamento entre as margens./*/
    padding: 2.5em 2em;
}

.banner__titulo {
    /*/tamanho da fonte./*/
    font-size: 18px;
    /*/Largura da fonte./*/
    font-weight: 700;
}

.banner_texto {
    /*/Largura da fonte./*/
    font-weight: 500;
    /*/Espaçamento de altura./*/
    margin: 1em 0;
}

.banner__pesquisa {
    /*/deixa o fundo transparente/*/
    background-color: transparent;
    /*/faz uma borda com expessura de 1 solida quer dizer que é uma linha perfeita e cor branca/*/
    border: 1px solid var(--branco);
    /*/deixa a cor do texto de dentro branca/*/
    color: var(--branco);
    /*/deixa arredondado/*/
    border-radius: 24px;
    /*/Espessura do input/*/
    padding: 1em;
    /*/Largura/*/
    width: 100%;
}

/*/Configurações dentro do input/*/
.banner__pesquisa::placeholder {
    /*/Tipo da fonte/*/
    font-family: var(--fonte-principal);
    /*/Tamanho da fonte/*/
    font-size: 14px;
    /*/Peso da fonte/*/
    font-weight: 400;
    /*/Centralizando o texto/*/
    text-align: center;
    /*/cor Texto do input/*/
    color: var(--branco);
    /*/Anexando a lupa no input, e tirando a repetição, se não ia ficar cheio de lupa/*/
    background: url("../assets/Lupa.svg") no-repeat;
    /*/Coloca a lupinha um pouco mais pra frente/*/
    background-position: 1em;
}

/*/Trabalhando com resoluções responsivas./*/
@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }

    /*/Configurações dentro do input/*/
    .banner__pesquisa {
        /*/Altera a largura do input/*/
        width: 50%;
    }

    .banner__pesquisa::placeholder {
        /*/Alterando a posição da lupinha/*/
        background-position: 6em;
    }
}

@media screen and (min-width: 1024px) {

    .banner__pesquisa {
        /*/Diminuir tamanho do campo de pesquisa/*/
        width: 40%;
    }

    .banner__pesquisa::placeholder {
        /*/Coloca a lupinha um pouco mais pra frente/*/
        background-position: 17em;
    }

    .banner {
        /*/Aumentando tamanho do espaçamento do quadrado azul do banner./*/
        padding: 6em 0;
    }
}